@use "reset.scss";
@use "themes/dark.scss";
@use "themes/light.scss";
@use "variables/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--mainBg);
    color: var(--mainBg-inv);
    font: var(--main-font);
}

.container {
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: var(--main-title-size);
}

.subtitle {
    font-size: var(--main-subtitle-size);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    padding: 20px;
    font: var(--main-font);
    color: #18063a;
    background: #fff;
    border-radius: var(--std-radius);
    font-weight: 700;
}
