:root {
    --main-font: 18px / 26px "Montserrat", sans-serif;
    --icon-size: 30px;
    --logo-classic-fontSize: 35px;

    --headerHeight: 100px;
    --minus-HeaderHeight: calc(100svh - 100px);

}
