.createAccountInfo {
    position: fixed;
    top: var(--headerHeight);
    left: 0;
    right: 0;
    background: var(--mainBg);
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--minus-HeaderHeight);
}

.setImage {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid var(--mainBg-inv);
}

.setImage input {
    position: absolute;
    inset: 0;
    border: none;
    outline: 1px solid transparent;
    background-color: transparent;
    opacity: 0;
}

.plusIcon {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 70px;
    pointer-events: none;
}

.img {
    position: absolute;
    inset: 0;
    z-index: 50;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
}

.setImgBox {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.titleBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
